# ##############################################################################

# iCEcube PCF

# Version:            2020.12.27943

# File Generated:     Dec 25 2024 17:38:23

# Family & Device:    iCE40UP5K

# Package:            SG48

# ##############################################################################

###IOSet List 2
##set_io IOB_0a 47
##set_io IOB_2a 46
set_io IOB_37a 23
set_io IOT_36b 25
set_io IOT_39a 26
